body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.languages {
  display: flex;
  justify-content: center;
}

.languages li {
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
}
.popular-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.popular-item {
  margin: 20px;
  text-align: center;
}
.avatar {
  width: 150px;
  border-radius: 50%;
}
.space-list-items {
  display: flex;
  flex-direction: column;
  margin-bottom: 7px;
}
.link-space {
  color: FireBrick;
  font-weight: bold;
}
.popular-rank {
  font-size: 20px;
  font-weight: bold;
}
.nav {
  display: flex;
}
.nav li {
  margin-right: 15px;
  color: crimson;
}
.nav a.active {
  color: darkred;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: #d0021b;
}
.btn {
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #000000;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 5px;
}

.btn:hover {
  background: #000000;
  background-image: -webkit-linear-gradient(top, #000000, #5c6870);
  background-image: -moz-linear-gradient(top, #000000, #5c6870);
  background-image: -ms-linear-gradient(top, #000000, #5c6870);
  background-image: -o-linear-gradient(top, #000000, #5c6870);
  background-image: linear-gradient(to bottom, #000000, #5c6870);
  text-decoration: none;
}
.battle-container {
  display: flex;
  padding: 10px;
  justify-content: center;
}

.contender-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

.contender-container .label {
  color: black;
  display: flex;
  justify-content: center;
  margin: 5px;
  font-weight: 200;
  font-size: 3em;
}
.column1 {
  order: -1;
}
.column2 {
  order: 1;
}
a:hover {
  font-weight: bolder;
}
.button-display {
  display: flex;
  justify-content: center;
}
.btn.battle {
  justify-content: center;
}

h1 {
  color: black;
  display: flex;
  justify-content: center;
  margin: 5px;
  font-weight: 200;
  font-size: 3em;
}

p {
  color: black;
  display: flex;
  justify-content: center;
  margin: 5px;
  font-weight: 200;
  font-size: 1.5em;
}
